In [1]:
import pandas as pd
import json
import os

In [2]:
train_path = r"/home/anhndt/draw-with-llm/data/raw/drawing-with-llms/train.csv"
train_df = pd.read_csv(train_path)
train_df.head()

       id                                        description    category
0  02d892                            a purple forest at dusk  landscapes
1  0dcd2e              gray wool coat with a faux fur collar     fashion
2  1e9ac1                 a lighthouse overlooking the ocean  landscapes
3  2b25db  burgundy corduroy pants with patch pockets and...     fashion
4  4e6a54                           orange corduroy overalls     fashion

In [3]:
train_df['category'].value_counts()

category
landscapes    5
fashion       5
abstract      5
Name: count, dtype: int64

In [4]:
version1_path = r"/home/anhndt/draw-with-llm/data/results/score/json/version_1.json"
version12_path = r"/home/anhndt/draw-with-llm/data/results/score/json/version_12.json"

version_1 = pd.read_json(version1_path)
version_12 = pd.read_json(version12_path)

In [5]:
version_1 = pd.merge(version_1, train_df, how="inner", left_on="id_desc", right_on="id")
version_1.groupby('category').agg(
    {
        "total_score": "mean",
        "vqa_score": "mean",
        "aesthetic_score": "mean",
        "ocr_score": "mean",
        "clip_similarity": "mean"
    }
)

,total_score,vqa_score,aesthetic_score,ocr_score,clip_similarity
category,,,,,
abstract,0.568305,0.632216,0.429196,1.0,58.37500
fashion,0.622620,0.705223,0.442444,1.0,52.48125
landscapes,0.693423,0.788415,0.489638,1.0,59.30625

In [6]:
version_12 = pd.merge(version_12, train_df, how="inner", left_on="id_desc", right_on="id")
version_12.groupby('category').agg(
    {
        "total_score": "mean",
        "vqa_score": "mean",
        "aesthetic_score": "mean",
        "ocr_score": "mean",
        "clip_similarity": "mean"
    }
)

,total_score,vqa_score,aesthetic_score,ocr_score,clip_similarity
category,,,,,
abstract,0.628595,0.729447,0.424619,1.0,57.693750
fashion,0.710411,0.826800,0.456894,1.0,47.437500
landscapes,0.745337,0.852634,0.500598,1.0,52.915625

In [7]:
score_path = r"/home/anhndt/draw-with-llm/data/results/score/json"

In [8]:
import os
import pandas as pd

output_file = r'/home/anhndt/draw-with-llm/report/mean_scores_output.txt'

with open(output_file, 'w', encoding='utf-8') as f_out:
    for file in os.listdir(score_path):
        if file.endswith(".json"):
            file_path = os.path.join(score_path, file)
            version = pd.read_json(file_path)

            f_out.write(f"\n--- {file} ---\n")
            merge_df = pd.merge(version, train_df, how="inner", left_on="id_desc", right_on="id")
            mean_df = merge_df.groupby('category').agg({
                "total_score": "mean",
                "vqa_score": "mean",
                "aesthetic_score": "mean",
                "ocr_score": "mean",
                "clip_similarity": "mean"
            })

            # Ghi DataFrame vào file dưới dạng text
            f_out.write(mean_df.to_string())
            f_out.write('\n' + '='*80 + '\n')